<% layout('layouts/boilerplate') -%>
    <title>
        <%= campGroundShow.title %>
    </title>
    <h1>
        <%= campGroundShow.title %>
    </h1>
    <h2>
        <%= campGroundShow.location %>
    </h2>
    <div>
        <a href="/campgrounds">Go back</a>
    </div>
    <div>
        <a href="/campgrounds/<%= campGroundShow._id %>/edit">Edit the campground</a>
    </div>
    <div>
        <form action="/campgrounds/<%= campGroundShow._id %>?_method=DELETE" method="post"><button>Delete</button>
        </form>

    </div>
    <% layout('layouts/boilerplate') -%>